micronaut:
  application:
    name: micronaut-graal-atp-hibernate-demo
  router:
    static-resources:
      swagger:
        paths: classpath:META-INF/swagger
        mapping: /swagger/**
datasources:
  default:
    pooled: true
    driverClassName: oracle.jdbc.driver.OracleDriver
jpa:
  default:
    packages-to-scan:
      - 'codes.recursive.model'
    properties:
      hibernate:
        transaction:
          factory_class: org.hibernate.transaction.JDBCTransactionFactory
        dialect: org.hibernate.dialect.Oracle12cDialect
        hbm2ddl:
          auto: validate
        show_sql: true
        ejb:
          use_class_enhancer: true